<!DOCTYPE html>

@{
    ViewBag.Title = "ViewReg";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
    <body>
     @Html.Partial("PartialNavbar")
    <div class="form-holder">
        @*<form class="form" action='' method="POST" id="Reg">*@
        @using (Html.BeginForm("SignUp", "SignUp", FormMethod.Post, new { @class = "form" }))
        {
            <h2 class="form-title">Форма регистрации</h2>
            <div class="form-group">
                <!-- Name -->
                <label for="regName" class="control-label"> Имя</label>
                <div class="controls">
                    <input class="form-control" type="text" id="regName" name="regName">
                </div>
            </div>

            <div class="form-group">
                <!-- Last name -->
                <label for="regLName" class="control-label">Фамилия</label>
                <div class="controls">
                    <input class="form-control" type="text" id="regLName" name="regLName">
                </div>
            </div>

            <!-- Date -->


            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <label for="datetimepicker1" class="control-label">Дата рождения</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $('#datetimepicker1').datetimepicker({
                            format: 'DD-MM-YYYY'
                        });
                    });
                </script>
            </div>

            <div class="form-group">
                <!-- City -->
                <label for="regCity" class="control-label">Город</label>
                <div class="controls">
                    <input class="form-control" type="text" id="regCity" name="regCity">
                </div>
            </div>

            <div class="form-group">
                <!-- Phone -->
                <label for="regPhone" class="control-label">Номер телефона</label>
                <div class="controls">
                    <input class="form-control" type="text" id="regPhone" name="regPhone">
                </div>
            </div>

            <div class="form-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input class="form-control" type="email" id="email" name="email" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="form-group">
                <!-- Password-->
                <label class="control-label" for="password">Пароль</label>
                <div class="controls">
                    <input class="form-control" type="password" id="password" name="password" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="form-group">
                <!-- Password -->
                <label class="control-label" for="password_confirm">Подтверждение пароля</label>
                <div class="controls">
                    <input class="form-control" type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="form-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success" type ="submit">Зарегистрироваться</button>
                </div>
            </div>
        }
        @*</form>*@
    </div>
       
    </body>
</html>