@model Auto.Models.UserLogin

@{
    ViewBag.Title = "ViewErrorReg";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/bootstrap-select.css" />

    <link rel="stylesheet" href="/css/roboto.min.css">
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/ripples.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />


    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/ripples.min.js"></script>
    <script src="/js/material.min.js"></script>
    <script src="/js/snackbar.min.js"></script>
    <script src="/js/jquery.nouislider.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/i18n/defaults-ru_RU.js"></script>
    <script src="/js/blockSelect.js"></script>

    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @Html.Partial("~/Views/Hello/PartialNavbar.cshtml")
<h2>Пользователь с Email @Model.Email уже зарегистрирован!</h2>
<br>
    <h2>Пожалуйста, введите уникальный Email!</h2>
</body>
</html>

